 .container-fluid{
    background-image: url(./back4.gif) ; 
    background-size: 100%;
    background-repeat: no-repeat ; 
    
 } 
/* .btn .btn{
    align-items: center;
} */
.text{
    text-wrap: nowrap;
}


